.footer {
  position: relative;
  padding: 90px 0 60px 0;
  color: $color-secondary;
  background-color: $color-base;

  &::after {
    content: '';
    position: absolute;
    bottom: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    border: 100px solid transparent;
    border-bottom: 74px solid $color-base;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo-img {
    margin-bottom: 22px;
  }

  &__contacts {
    @include font(null, 14px, null, null);

    p:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__links {
    &-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    @include font(null, 16px, null, null);
    color: $color-secondary;
    text-decoration: none;
  }

  &__col:not(:last-child) {
    margin-right: 40px;
  }

  &__col:nth-child(3) {
    flex-basis: 129px;
  }

  &__col:last-child {
    flex-basis: 360px;
  }
}

.socials {
  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include font(null, 16px, null, null);
    text-decoration: none;
    color: $color-secondary;

    svg {
      fill: $color-secondary;
    }

    &-icon-facebook {
      @include size(10px, 19px);
    }

    &-icon-twitter {
      @include size(19px, 15px);
    }

    &-icon-instagram {
      @include size(19px, 19px);
    }

    span {
      flex-basis: 84px;
      margin-left: 26px;
    }
  }
}

.form-subscribe {
  @include font(null, 16px, null, null);

  &__description {
    margin-bottom: 30px;
  }

  &__controls {
    display: flex;
  }

  &__input {
    width: 77%;
    padding-left: 5%;
    font-size: inherit;
    border: 2px solid $color-tertiary;
    border-radius: 5px 2px 2px 5px;
    color: $color-secondary;
    background-color: transparent;
    transition: .3s;

    &:focus {
      box-shadow: 0 0 10px 0 $color-tertiary;
      outline: none;
    }

    &::placeholder {
      color: inherit;
    }
  }

  &__btn-submit {
    width: 23%;
    padding: 16px 0;
    color: $color-base;
    font-size: inherit;
    border-radius: 2px 5px 5px 2px;
  }
}

@media screen and (max-width: 1317px) {
  .footer {
    &__col:last-child {
      margin-top: 40px;
    }
  }

  .form-subscribe {
    @include font(null, 16px, null, null);

    &__description {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 855px) {
  .footer {
    &__col:nth-child(3) {
      margin-top: 40px;
    }

    &__links {
      &-item:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .socials {
    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    &::after {
      border: 80px solid transparent;
      border-bottom: 54px solid $color-base;
    }

    &__logo-img {
      margin-bottom: 15px;
    }

    &__contacts {
      @include font(null, 12px, null, null);
    }

    &__link {
      @include font(null, 14px, null, null);
      color: $color-secondary;
      text-decoration: none;
    }
  }

  .socials {
    &__link {
      @include font(null, 14px, null, null);

      span {
        flex-basis: 90px;
        margin-left: 16px;
      }
    }
  }

  .form-subscribe {
    @include font(null, 14px, null, null);
  }
}

@media screen and (max-width: 639px) {
  .footer {
    padding-top: 60px;
  }
}

@media screen and (max-width: 566px) {
  .footer {
    &__col:nth-child(2) {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 390px) {
  .footer {
    &::after {
      border: 60px solid transparent;
      border-bottom: 44px solid $color-base;
    }
  }
}

@media screen and (max-width: 382px) {
  .footer {
    &__col:first-child {
      margin-right: 0;
    }
  }
}