@import "fonts";
@import "normalize";

$ff-base: Montserrat, sans-serif;
$ff-secondary: 'Adobe Garamond Pro', sans-serif;
$fs-base: 10px;
$color-base: #14274a;
$color-secondary: #fff;
$color-tertiary: #e0b973;

@mixin size($w, $s) {
  width: $w;
  height: $s;
}

@mixin font($ff, $fs, $lh, $fw) {
  font-family: $ff;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

* {
  box-sizing: border-box;
}

html {
  font-size: $fs-base;
}

body {
  font-family: $ff-base;
  color: $color-base;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible) {
  outline: none;
}

button {
  border: none;
}

.container {
  max-width: 78%;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.btn {
  padding: 0.95em 3.3em;
  @include font(null, 2rem, null, bold);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 12px;
  color: $color-secondary;
  background-color: $color-tertiary;
  cursor: pointer;
  transition: .3s;

  &:hover {
    box-shadow: 0 0 10px 0 $color-tertiary;
  }
}

.btn-w-icon {
  display: inline-flex;
  align-items: center;
  padding: 1.1em 1.6em 1.35em 1.6em;

  svg {
    @include size(28px, 26px);
    margin-right: 18px;
    fill: $color-secondary;
  }
}

.hamburger-toggle {
  position: relative;
  @include size(30px, 25px);
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  &__el {
    @include size(100%, 3px);
    background-color: $color-secondary;
    transition: .3s;

    &:first-child, &:last-child {
      position: relative;
      left: 0;
    }

    &:first-child {
      top: -8px;
    }

    &:last-child {
      top: 8px;
    }
  }

  &--active &__el {
    transition: .3s opacity, top .15s, transform .15s .15s;
  }

  &--active &__el:first-child {
    top: 3px;
    transform: rotate(45deg);
  }

  &--active &__el:last-child {
    top: -3px;
    transform: rotate(-45deg);
  }

  &--active &__el:nth-child(2) {
    opacity: 0;
  }
}

.header {
  position: relative;
  background: no-repeat center center / cover url("../images/header-index-bg.png");
  color: $color-secondary;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparentize($color-base, .5);
  }

  &__container {
    position: relative;
    min-height: 100vh;
  }

  &__logo-link {
    width: 17%;

    &-img {
      display: block;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 193px;

    .nav {
      width: 47%;
    }
  }

  &__greeting {
    @include font(null, 5rem, null, null);
    text-transform: uppercase;
  }

  &__description {
    max-width: 39%;
    @include font(null, 2.5rem, null, null);
    letter-spacing: 0.1em;
  }

  &__bottom-btn-wrap, &__bottom-link-wrap {
    text-align: center;
  }

  &__bottom-btn-wrap {
    margin: 108px 0 80px 0;
  }

  &__bottom-link-wrap {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-title-first {
  @include font($ff-secondary, 15.4rem, null, bold);
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.main-title-second {
  @include font($ff-secondary, 6rem, null, bold);
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: space-between;

  &-link {
    padding: 0 2px;
    @include font(null, 2.5rem, null, bold);
    color: $color-secondary;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s;

    &:hover {
      border-color: $color-secondary;
    }
  }
}

.scroll-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: .3s;

  &:hover span {
    color: $color-tertiary;
  }

  &:hover svg {
    fill: $color-tertiary;
  }

  span {
    margin-bottom: 15px;
    @include font(null, 2.5rem, null, bold);
    color: $color-secondary;
    transition: inherit;
  }

  svg {
    @include size(61px, 61px);
    fill: $color-secondary;
    transition: inherit;
  }
}

@media screen and (max-width: 1919px) {
  html {
    font-size: 6px;
  }

  .header {
    &__top {
      margin-bottom: 120px;
    }

    &__bottom-btn-wrap {
      margin: 88px 0 85px 0;
    }
  }

  .btn-w-icon {
    svg {
      @include size(20px, 22px);
    }
  }

  .scroll-link {
    span {
      margin-bottom: 12px;
    }

    svg {
      @include size(41px, 41px);
    }
  }
}

@media screen and (max-width: 1023px) {
  .hamburger-toggle {
    display: flex;
  }

  .header {
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      @include size(100%, 100vh);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparentize($color-base, .3);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      z-index: 1;

      &--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .nav--active .menu {
    transform: translateY(0);
    opacity: 1;
    transition: .3s .2s;
  }

  .menu {
    width: 30%;
    flex-direction: column;
    transform: translateY(-20%);
    opacity: 0;
    transition: .3s;

    &__item {
      text-align: center;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &-link {
      display: inline-block;
      width: 100%;
      @include font(null, 3.5rem, null, null);
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    &__logo-link {
      @include size(100px, 60px)
    }
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 5px;
  }

  .header {

    &__bottom {
      text-align: center;
    }

    &__top {
      margin-bottom: 70px;
    }

    &__bottom-btn-wrap {
      margin: 58px 0 55px 0;
    }

    &__bottom-link-wrap {
      bottom: 20px;
    }

    &__description {
      max-width: 100%;
    }
  }

  .menu {
    width: 60%;

    &-link {
      @include font(null, 4.5rem, null, null);
    }
  }

  .scroll-link {
    span {
      margin-bottom: 8px;
    }

    svg {
      @include size(31px, 31px);
    }
  }

  .main-title-second {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 4px;
  }

  .menu {
    &-link {
      @include font(null, 5.5rem, null, null);
    }
  }

  .btn {
    @include font(null, 2.5rem, null, bold);
  }
}